# API URL
VITE_API_URL=https://nullclass-api.onrender.com/api

# Socket.io URL
VITE_SOCKET_URL=https://nullclass-api.onrender.com

# PayPal Client ID (for frontend - FREE Sandbox)
VITE_PAYPAL_CLIENT_ID=your_paypal_client_id
